<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onoh.ewallet02">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LandingPageActivity"></activity>
        <activity android:name=".activity.BottomNavigationActivity.history.topup.DetailHistoryTopup" />
        <activity android:name=".activity.BottomNavigationActivity.history.pembayaran.DetailHistoryPembayaran" />
        <activity android:name=".activity.donasi.FormDonasiActivity" />
        <activity android:name=".activity.donasi.DetailDonasiActivity" />
        <activity android:name=".activity.event.BeliTiketActivity" />
        <activity android:name=".activity.event.DetailEventActivity" />
        <activity android:name=".activity.ukt.KonfirmUktActivity" />
        <activity android:name=".activity.ukt.FormUktActivity" />
        <activity android:name=".activity.event.EventActivity" />
        <activity android:name=".activity.donasi.DonasiActivity" />
        <activity android:name=".activity.ukt.UktActivity" />
        <activity android:name=".activity.limituang.LimituangActivity" />
        <activity
            android:name=".activity.BottomNavigationActivity.history.HistoryActivity"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.transfer.TransferQrcodeActivity" />
        <activity android:name=".activity.transfer.TransferNomorActivity" />
        <activity android:name=".activity.terima.TerimaActivity" />
        <activity android:name=".activity.transfer.TransferDetailActivity" />
        <activity android:name=".activity.transfer.TransferActivity" />
        <activity android:name=".activity.topup.TopupBriActivity" />
        <activity android:name=".activity.topup.TopupMerchantActivity" />
        <activity android:name=".activity.topup.TopupActivity" />
        <activity android:name=".activity.PaymentDetailActivity" />
        <activity android:name=".activity.BottomNavigationActivity.PaymentActivity" />
        <activity android:name=".activity.BottomNavigationActivity.ProfileActivity" />
        <activity android:name=".activity.BottomNavigationActivity.DompetActivity" />
        <activity android:name=".activity.OtpActivity" />
        <activity android:name=".activity.PinRegisterActivity" />
        <activity android:name=".activity.PinVerifyActivity" />
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>